In [157]:
import requests
import pandas as pd
import xml.etree.ElementTree as ET
import config
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float 
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy.orm import Session
import re

# ETL Project

## Exploration

In [218]:
test = "https://cohegis.houstontx.gov/cohgispub/rest/services/PD/Cadastral_wm/MapServer/1/query?where=0%3D0&outFields=%2A&f=json"

In [219]:
response = requests.get(test)

In [220]:
response_json = response.json()

In [221]:
print(response_json['features'][999]["attributes"])

{'OBJECTID': 1457, 'ADDRESS': '319 HIGH POINT CROSSING DR', 'TAX_ID': '1243290020045', 'zipcode': '77336'}

In [222]:
response = requests.get(test)
response.status_code

200

In [223]:
base_address = "https://cohegis.houstontx.gov/cohgispub/rest/services/PD/Cadastral_wm/MapServer/1/"

In [224]:
zipcode = 77007
last_obj_id = 0
total_rows = 0
while True:
    try:
        response = requests.get(base_address+ f"query?where=objectid>{last_obj_id}+and+zipcode%3D{zipcode}&outFields=*&orderByFields=objectid&f=json")
        response_json = response.json()
        last_index = len(response_json['features']) 
        total_rows = total_rows+last_index
        last_obj_id = response_json['features'][last_index-1]["attributes"]["OBJECTID"]
    except:
        print(f"Total Rows: {total_rows}")
        break

Total Rows: 16416

## Get Addresses

In [225]:
zipcode = 77007
last_obj_id = 0
addresses = []
while True:
    try:
        response = requests.get(base_address+ f"query?where=objectid>{last_obj_id}+and+zipcode%3D{zipcode}&outFields=*&orderByFields=objectid&f=json")
        response_json = response.json()
        last_index = len(response_json['features']) 
        last_obj_id = response_json['features'][last_index-1]["attributes"]["OBJECTID"]
        for i in range(0, last_index):           
            address = response_json['features'][i]["attributes"]["ADDRESS"]
            zipcode = response_json['features'][i]["attributes"]["zipcode"]
            address_list = address.split()
            if address_list[0]==address_list[-1]:
                address = " ".join(address_list[:-1])
            addresses.append({"address": address, "citystatezip":zipcode})
    except:
        break

## Extract, Transform, and Load Zillow Data

In [226]:
zillow_base = f"http://www.zillow.com/webservice/GetSearchResults.htm?"

In [227]:
Base = declarative_base()

In [228]:
class Addresses(Base):
    __tablename__ = 'addresses'
    id = Column(Integer, primary_key=True)
    street_address = Column(String(255))
    zipcode = Column(Integer)
    city = Column(String(255))
    state = Column(String(255))
    latitude = Column(Float(24))
    longitude = Column(Float(24))
    zestimate = Column(Integer)

In [229]:
# Create Engine and Pass in MySQL Connection                
MySQL_db = 'address_db'

engine = create_engine("mysql://root:"+config.MySQL_root_PW+"@localhost/"+MySQL_db)
conn = engine.connect()

In [230]:
Base.metadata.create_all(conn)
session = Session(bind=engine)

In [232]:
zillow_data = []
zpids = []
for n, row in enumerate(addresses):
    parameter = {'zws-id':zwisd, 'address':row['address'],'citystatezip':row['citystatezip']}
    r = requests.get(zillow_base, params=parameter)
    tree = ET.fromstring(r.text)
    for result in results:
        try:
            # get the results 
            results = tree[2][0]
            zpid = result.find("zpid").text
            if zpid in zpids:
                continue
            street_address= result.find("address/street").text
            zipcode = result.find("address/zipcode").text
            city = result.find("address/city").text
            state = result.find("address/state").text
            latitude = result.find("address/latitude").text
            longitude = result.find("address/longitude").text
            zestimate = result.find("zestimate/amount").text
        except: 
            continue
    new_row = Addresses(id=zpid, 
                        street_address=street_address,
                        zipcode=zipcode,
                        city=city, 
                        state=state, 
                        latitude=latitude, 
                        longitude=longitude, 
                        zestimate=zestimate)
    zpids.append(zpid)
    session.add(new_row)
    #print(n)

In [235]:
session.commit()

## Extract, Transform, and Load Starbucks Data

In [256]:
# read the data from the data directory
starbucks_data = pd.read_csv("./data/directory.csv")

starbucks_data[['Street Address','City','State/Province','Country']] = starbucks_data[['Street Address','City','State/Province','Country']].fillna("Null")
starbucks_data[['Longitude', 'Latitude']] = starbucks_data[['Longitude','Latitude']].fillna(-1)

In [257]:
Base = declarative_base()

class Starbucks(Base):
    __tablename__ = 'starbucks_data'
    id = Column(Integer, primary_key=True)
    street_address = Column(String(255))
    city = Column(String(255))
    state = Column(String(255))
    country = Column(String(255))
    latitude = Column(Float(36))
    longitude = Column(Float(36))

In [258]:
MySQL_db = 'address_db'

engine = create_engine("mysql://root:"+config.MySQL_root_PW+"@localhost/"+MySQL_db)
conn = engine.connect()
Base.metadata.create_all(conn)
session = Session(bind=engine)

In [260]:
for i, row in starbucks_data.iterrows():
    try:
        new_row = Starbucks(id=i+1, 
                            street_address=row['Street Address'].encode('utf-8').decode('ascii', 'ignore'),
                            city=row['City'].encode('utf-8').decode('ascii', 'ignore'), 
                            state=row['State/Province'].encode('utf-8').decode('ascii', 'ignore'), 
                            country=row['Country'].encode('utf-8').decode('ascii', 'ignore'),
                            latitude=row['Latitude'], 
                            longitude=row['Longitude'])
        session.add(new_row)
    except:
        print(i)
        continue

In [261]:
session.commit()